<form>
    <h1>GAME MASTER TOOLS V0.0.1</h1>
    <h3>Edition des points de personnage / cojones</h3>
    <ol>
        {{#each actors as |actor keyActor|}}
            
            <div class="form-group">
                <p>{{actor.name}}</p>
                <div>
                    <h5>point de personnage</h5>
                    <input type="text" name="xp" value="0" data-actor_id="{{actor._id}}" data-value="xp"/>
                    <button class="gm_validate_value">{{localize 'ZCORPS.Add'}}</button>
                </div>
                <div>
                    <h5>point de cojones</h5>
                    <input type="text" name="cojones" value="0" data-actor_id="{{actor._id}}" data-value="cojones"/>
                    <button class="gm_validate_value">{{localize 'ZCORPS.Add'}}</button>
                </div>
            </div>
            
        {{/each}}
    </ol>
</form>