<form>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="perso_cojones">Gestion Points</a>
    <a class="item" data-tab="competence">Gestion Compétence</a>
    <a class="item" data-tab="specialisation">Gestion Spécialisation</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="perso_cojones">
    <h3>Edition des points de personnage / cojones</h3>
    <table>
        <thead>
            <tr>
                <th>Personnage</th>
                <th>Points de personnage</th>
                <th>Points de Cojones</th>
            </tr>
        </thead>
        <tbody>
            {{#each actors as |tp Ckey|}}
	        	<tr><th colspan=5>{{Ckey}}</th></tr>
		        {{#each tp as |actor key|}}
	            <tr>
	                <td>{{actor.data.name}}</td>
	                <td>
	                    <div>
	                        <input type="text" name="xp" value="0" data-actor_id="{{actor.data._id}}" data-value="xp"/>
	                        <button class="gm_validate_value">+</button>
	                    </div>
	                </td>
	                <td>
	                    <div>
	                        <input type="text" name="cojones" value="0" data-actor_id="{{actor.data._id}}" data-value="cojones"/>
	                        <button class="gm_validate_value">+</button>
	                    </div>
	                </td>
	            </tr>
	            {{/each}}
            {{/each}}
        </tbody>
    </table>
    </div>
    <div class="tab" data-group="primary" data-tab="competence">
    <hr>
    <h3>Ajouter une nouvelle compétence</h3>
    <table id="addSkillToActor">
            <thead>
                <tr>
                    <th>Personnage</th>
                    <th>Caractéristique</th>
                    <th>Compétence</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select name="actorCarac" id="selectedActorForCarac">
                        {{#each actors as |tp Ckey|}}
        				<optgroup label="{{Ckey}}">
	        			{{#each tp as |actor key|}}
                            <option value="{{actor.data._id}}">{{actor.data.name}}</option>
                        {{/each}}
                        {{/each}}
                        </select>
                    </td>
                    <td>
                        <select name="caracteristic" id="caracteristic">
                        {{#each caracteristics as |caracteristic key|}}
                            <option value="{{key}}">{{caracteristic}}</option>
                        {{/each}}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="skillToAdd" id="skillToAdd" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <button class="gm_add_skill">Valider</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="info">
                        Attention, vérifier que le personnage ne possède pas déjà les 12 compétences maximum sélectionnées
                    </td>
                </tr>
            </tfoot>
        </table>
    <hr>
    </div>
    <div class="tab" data-group="primary" data-tab="specialisation">
        <h3>Ajouter une spécialisation</h3>
        {{#each actors as |tp Ckey|}}
	    	<h4>{{Ckey}}</h4>
        {{#each tp as |actor key|}}
        <div class="form-group">
            <span class="actor_name" data-actor_id="{{actor.data._id}}">{{actor.data.name}}</span>
            <select name="skill" id="skill">
                {{#each actor.skills as |skill key|}}
                <option value="{{key}}" data-added="{{skill.added}}" data-caracteristic="{{skill.caracteristic}}">{{skill.name}}</option>
                {{/each}}
            </select>
            <input type="text" name="specToAdd" id="specToAdd" />
            <button class="gm_add_spec">Valider</button>
        </div>
        {{/each}}
        {{/each}}
    </div>
    
    </section>
    
</form>