<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="100" heigh="100"/>
    <div class="header-fields">
      <h1 class="arme-name"><input type="text" name="name" value="{{item.name}}"></h1>   
    </div>
  </header>
  
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="category">
      <div class="category-title">Degats</div>
      <div class="category-body">
        <div class="category-element">
          <table>
          	<tr>
          		<th>Utilisation bonus dégâts</th>
          		<th>Nb D6</th>
          		<th>Nb tier</th>
          	</tr>
          	<tr>
          		<td><input type="checkbox" name="data.damage.More" {{#if data.damage.More}}checked{{/if}}></td>
          		<td><input type="number" name="data.damage.CodeD" value="{{data.damage.CodeD}}"></td>
          		<td><input type="number" name="data.damage.Tier" value="{{data.damage.Tier}}"></td>
          	</tr>
          </table>
        </div>
      </div>
    </div>
    <div class="category">
      <div class="category-title">Description</div>
    </div>
    <div class="tab">
	      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
      
  </section>

</form>
