<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="100" heigh="100"/>
    <div class="header-fields">
      <h1 class="arme-name">{{item.name}}</h1>   
    </div>
  </header>
  
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="category">
      <div class="category-title">Attributs</div>
      <div class="category-body">
        <div class="category-element">
          <label for="data.type">Type d'arme</label>
          <select name="data.type" id="data.type" class="arme-type">
            {{#select data.type}}
            {{selectOptions armeType selected=value nameAttr=key}}
            {{/select}}
          </select>
        </div>
        <div class="category-element">
          <label for="data.dammage">Dégats</label>
          <input type="text" name="data.dammage" value="{{data.dammage}}" />
        </div>
        <div class="category-element">
          <label for="ammo-actual">Munitions actuelles</label>
          <input type="number" name="data.ammo-actual" value="{{data.ammo-actual}}" />
        </div>
        <div class="category-element">
          <label for="ammo-max">Munitions Max</label>
          <input type="number" name="data.ammo-max" value="{{data.ammo-max}}" />
        </div>
      </div>
      <div>
          <label for="ammo-type">Type Munitions</label>
          <select name="data.ammo-type" id="data.ammo-type" class="arme-type">
            {{#select data.ammo-type}}
            {{selectOptions munType selected=value nameAttr=key}}
            {{/select}}
          </select>
      </div>
      
      (Attribut : {{data.carac}} / Compétence : {{data.skill}})
      
    </div>
    
    {{#if data.type}}
    <div class="category">
      <div class="category-title">Portée</div>
      <div class="category-body">
        <div class="category-element">
          <label for="item-range-short">Courte : </label>
          <input type="text" name="data.range.short" value="{{data.range.short}}" class="input-short" />
        </div>
        <div class="category-element">
          <label for="item-range-middle">Moyenne : </label>
          <input type="text" name="data.range.middle" value="{{data.range.middle}}" class="input-short" />
        </div>
        <div class="category-element">
          <label for="item-range-short">Longue : </label>
          <input type="text" name="data.range.long" value="{{data.range.long}}" class="input-short" />
        </div>
      </div>
    </div>
	{{/if}}
    
    <div class="hidden">
      <input type="hidden" name="data.skill" value="{{data.skill}}" class="data-skill"  />
      <input type="hidden" name="data.carac" value="{{data.carac}}" class="data-carac"  />
    </div>
      
    
  </section>

</form>
