<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="100" heigh="100"/>
    <div class="header-fields">
      <h1 class="arme-name"><input type="text" name="name" value="{{item.name}}"></h1>   
    </div>
  </header>
  
  {{!-- Sheet Body --}}
  <section class="sheet-body">

    
      {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
    <div class="category">
      <div class="category-title">Degats</div>
      <div class="category-body">
        <div class="category-element">
          <table>
          	<tr>
          		<th>Utilisation bonus dégâts</th>
          		<th>Nb D6</th>
          		<th>Nb tier</th>
          	</tr>
          	<tr>
          		<td><input type="checkbox" name="data.damage.More" {{#if data.damage.More}}checked{{/if}}></td>
          		<td><input type="number" name="data.damage.CodeD" value="{{data.damage.CodeD}}"></td>
          		<td><input type="number" name="data.damage.Tier" value="{{data.damage.Tier}}"></td>
          	</tr>
          </table>
        </div>
      </div>

      <div class="category-title">Portée</div>
      <div class="category-body">
        <div class="category-element">
          <table>
          	<tr>
          		<th>Courte</th>
          		<th>Moyenne</th>
          		<th>Longue</th>
          	</tr>
          	<tr>
          		<td><input type="number" name="data.range.short" value="{{data.range.short}}"></td>
          		<td><input type="number" name="data.range.middle" value="{{data.range.middle}}"></td>
          		<td><input type="number" name="data.range.long" value="{{data.range.long}}"></td>
          	</tr>
          </table>
        </div>
      </div>

      <div class="category-title">Munition</div>
      <div class="category-body">
        <div class="category-element">
          <table>
          	<tr>
          		<th>Type</th>
          		<th>Actuel</th>
          		<th>Max</th>
          		<th>Rechargeable</th>
          	</tr>
          	<tr>
          		<td>
		          <select name="data.ammo.type" id="data.ammo.type" class="">
		            {{#select data.ammo.type}}
		            {{selectOptions munType selected=value nameAttr=key}}
		            {{/select}}
		          </select>
				</td>          		
          		<td><input type="number" name="data.ammo.actual" value="{{data.ammo.actual}}"></td>
          		<td><input type="number" name="data.ammo.max" value="{{data.ammo.max}}"></td>
          		<td><input type="checkbox" name="data.ammo.reload" {{#if data.ammo.reload}}checked{{/if}}></td>
          	</tr>
          </table>
        </div>
      </div>

      <div class="category-title">Skill utilisé</div>
      <div class="category-body">
<!--        <div class="category-element">
          <table>
          	<tr>
          		<th>Caractéristique</th>
          		<th>Compétence</th>
          	</tr>
          	<tr>
          		<td><input type="text" name="data.use.carac" value="{{data.use.carac}}"></td>
          		<td><input type="text" name="data.use.skill" value="{{data.use.skill}}"></td>
          	</tr>
          </table>
        </div> -->
        <div class="category-element">
          <label for="data.type">Type d'arme</label>
          <select name="data.type" id="data.type" class="arme-type">
            {{#select data.type}}
            {{selectOptions armeType selected=value nameAttr=key}}
            {{/select}}
          </select>
        </div>
      </div>
      
    </div>
    </div>
  </section>
      <div class="hidden">
      <input type="hidden" name="data.use.skill" value="{{data.use.skill}}" class="data-skill"  />
      <input type="hidden" name="data.use.carac" value="{{data.use.carac}}" class="data-carac"  />
    </div>
</form>

